.container {
    margin-bottom: .5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    .inputContainer {
        width: 70%;
        padding: .5rem;
        margin-top: .5rem;
        border-radius: 2px;
        background: var(--bodyBackground);
        display: flex;
        gap: 6px;
    }

    input {
        width: 100%;
    }
}