.container {
    max-width: 450px;
    max-height: 510px;
    margin-left: 2.5rem;
    border-radius: 10px;
    border: 1px solid var(--yellow);
    font-family: 'Distant Galaxy', 'Mandalore Title', 'Mandalore', sans-serif;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .header {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-bottom: 1px solid var(--yellow);
    }

    fieldset, .buttons {
        padding: 1.5rem;
    }

    .buttons {
        width: 100%;
        gap: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        button {
            width: 100%;
            padding: .75rem 0;
            font-weight: 600;

            &:hover {
                filter: brightness(.7);
            }
        }
    }
}