.searchInput {
    width: 23rem;
    border-radius: 10px;
    background: var(--bodyBackground);
    display: flex;
    align-items: center;
    position: relative;
    
    input {
        flex: 1;
        height: 100%;
        padding: 1rem;
        padding-right: 6rem;

        &:focus {
            outline: 1px solid var(--outline);
        }
    }

    > svg, button {
        font-size: 0;
        margin: 0 1rem;
        position: absolute;
        right: 0;
    }
    
    .clearInput {
        right: 2.5rem;
    }
}