.linkButton {
    padding: .75rem 1.5rem;
    
    font-family: 'Distant Galaxy', 'Mandalore Title', 'Mandalore', sans-serif;
    letter-spacing: 2px;
    text-align: center;

    border-radius: 10px;
}