.container {
    > h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    > div > div {
        height: fit-content;
    }

    .cart {
        width: 100%;
        display: flex;

        ul {
            flex: 1;
            height: fit-content;
            border-radius: 10px;
            border: 1px solid var(--bodyBackground);

            li {
                padding: 2rem;
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--bodyBackground);
                }

                .img, .productInfo, .alignRight {
                    display: flex;
                    flex-direction: column;
                }

                .img {
                    border-radius: 10px;
                    margin-right: 1.5rem;
                    overflow: hidden;
                }

                .productInfo {
                    flex: 1;
                    justify-content: space-between;
    
                    h1 {
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }

                    fieldset {
                        margin-top: 2rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                }

                .alignRight {
                    align-items: flex-end;
                    justify-content: space-between;

                    button {
                        font-family: sans-serif;
                        letter-spacing: 0;

                        &:hover {
                            filter: brightness(.8);
                        }
                    }
                }
            }
        }
    }
}