.container {
    > h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    > div > div {
        height: fit-content;
    }

    .cart {
        width: 100%;
        display: flex;

        ul {
            flex: 1;
            height: fit-content;
            border-radius: 10px;
            border: 1px solid var(--bodyBackground);

            .emptyCart {
                text-align: center;
            }
        }
    }
}