* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bodyBackground);
  font: 400 1rem sans-serif;
  color: var(--font);
}

#__next {
  height: 100vh;
}

h1 {
  font-family: "Mandalore Title", "Mandalore", sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
}

button, a {
  all: unset;
  cursor: pointer;
}

fieldset, input {
  all: unset
}

input::placeholder {
  font-family: "Mandalore Title", "Mandalore", sans-serif;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}


#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--primary);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
}