* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bodyBackground);
  font: 400 1rem sans-serif;
  color: var(--font);
}

#__next {
  height: 100vh;
}

.container {
  width: 80%;
  padding: 2rem;
  margin: 5rem auto;
  background: var(--background);
  border-radius: 10px;
}

h1 {
  font-family: "Mandalore Title", "Mandalore", "Distant Galaxy", sans-serif;
  text-transform: lowercase;
  letter-spacing: 0;
  font-size: 3rem;
}

ul {
  list-style: none;
}

button, a {
  all: unset;
  cursor: pointer;
  
  transition-property: background, border, filter;
  transition-duration: .2s;

  &:focus {
    outline: 1px solid var(--yellow);
  }
}

fieldset, input {
  all: unset
}

input::placeholder {
  font-family: "Mandalore Title", "Mandalore", sans-serif;
}


// scroll-bar //
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

// loading-bar //
#nprogress {
  position: relative;
  z-index: 999;
}

#nprogress .bar {
  background: var(--primary);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
}