.container {
    > div {
        display: flex;
    }

    .productDescription {
        flex: 1;
        margin-left: 2.5rem;

        h2 {
            margin: 2rem 0 3rem;
        }

        p {
            text-align: justify;
        }
    }
}