.header {
    padding: 1.5rem 4.5vw;
    border-bottom: 1px solid var(--outline);
    background: var(--highlightBG);
    display: flex;
    justify-content: space-between;

    > div {
        gap: 3.5vw;
        display: flex;
        align-items: center;

        img {
            height: 80px;
        }

        &:last-child {
            gap: 1.5rem;
        }

        a {
            font-size: 0;
            position: relative;

            span {
                padding: 2px 4px;
                border-radius: 50px;
                background: var(--primary);
                color: var(--grayLight);
                font-size: 14px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        > svg {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
}