.card {
    border-radius: 5px;
    background: var(--background);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transform: scale(.9);
    transition: all .2s;
    cursor: pointer;

    &:hover {
        transform: scale(.95);
    }

    img {
        object-fit: contain;
    }

    .content {
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;

        p {
            margin: .5rem 0 .75rem;
        }

        footer {
            padding-top: .75rem;
            border-top: 1px solid var(--font);
            font-size: 1.5rem;
        }
    }
}