.banner {
    width: 100%;
    position: relative;

    .bg {
        display: flex;
        justify-content: center;
    }

    section {
        width: 50%;
        height: 100%;
        border-bottom: 2px solid #111111;
        transition: border .5s;
        position: absolute;
        bottom: 0;

        &:hover {
            border-bottom: 2px solid var(--red);
            
            .opacity {
                opacity: .2;
            }
        }

        .opacity {
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .5;
            z-index: 1;
            transition: opacity .5s;
            position: absolute;
            bottom: 0;
        }

        .content {
            width: 100%;
            height: 100%;
            padding: 0 1.5rem 4rem;
            color: #EEEEEE;
            text-align: right;

            gap: 1rem;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;

            * {
                z-index: 2;
            }

            h1, p {
                text-shadow: 1px 0 0 #111, 0 1px 0 #111, -1px 0 0 #111, 0 -1px 0 #111;
            }

            h1 {
                color: var(--red);
            }

            p {
                max-width: 400px;
                font-size: 1.5rem;
            }

            a {
                width: fit-content;
                margin-top: 2rem;
                padding: .75rem 1.5rem;
                
                font-family: 'Distant Galaxy';
                letter-spacing: 2px;
                font-size: 1.25rem;

                border-radius: 10px;
                border: 1px solid var(--red);
                transition: background .5s;

                &:hover {
                    background: var(--red);
                }
            }
        }

        &:last-child {
            right: 0;

            &:hover {
                border-bottom: 2px solid var(--blue);
            }

            .content {
                align-items: flex-start;
                text-align: left;

                h1 {
                    color: var(--blue);
                }
            
                a {
                    border: 1px solid var(--blue);

                    &:hover {
                        background: var(--blue);
                    }
                }
            }
        }
    }
}