.container {
    padding: 0 6rem;
    margin: 3rem 0 2rem;

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .listarea {
        display: flex;
        align-items: center;
        overflow-x: hidden;

        .left, .right {
            position: absolute;
            z-index: 99;
            
            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }

            &:disabled {
                opacity: .4;
                cursor: not-allowed;
            }

            &:not(:disabled):hover svg path {
                stroke: var(--yellow);
            }
        }

        .list {
            display: flex;
            transition: margin, .5s;
        }
    }
}